.Data-item {
	font-family: monospace;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border-radius: 0.25em;
	overflow: hidden;
}

.Data-type {
	font-weight: bold;
	border: 1px solid #333;
	border-bottom-width: 0;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	background-color: #444;
	color: #fff;
	padding: 0.25em 0.5em;
}

.Data-data {
	min-height: 2em;
	white-space: pre-wrap;
	overflow: auto;
	border: 1px solid #ccc;
	border-top-width: 0;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	background-color: #fafafa;
	padding: 0.5em;
	line-height: 1em;
	box-sizing: border-box;
}

.Data-empty {
	color: #888;
}

.Data-buttons {
	min-height: 1.5em;
	box-sizing: border-box;
}

.Data-button {
	-webkit-appearance: none;
	border: none;
	background: transparent;
	color: inherit;
	font-size: 70%;
	margin: 0;
	margin-right: 0.5em;
	padding: 0;
	color: #222;
	cursor: pointer;
	height: 1em;
	line-height: 1em;
}
