.ConsoleGroupInline .ConsoleOutput {
  display: inline-block;
}

.ConsoleOutput-contents {
  display: inline-block;
  font-weight: normal;
  color: inherit;
  margin: 0.25em;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
