@import (inline) "~normalize.css";

body {
	margin: 1em;
}

.dt-list {
	display: flex;
	flex-direction: column-reverse;
}

.dt-list-item {
	outline: 1px solid #ccc;
	outline-offset: -1px;

	&:last-child {
		outline-color: #444;
	}
}
